<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
NIEM UML 
Copyright © 2011, ModelDriven.org and Tom Digre, all rights reserved worldwide.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see http://www.gnu.org/licenses/gpl-3.0-standalone.html.

There are also commercial licenses available for this software.
Contact ModelDriven.org for more information.
-->
<plugin>


   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated oasisXmlCatalog -->
      <package
            uri="urn:oasis:names:tc:entity:xmlns:xml:catalog"
            class="oasis.names.tc.entity.xmlns.xml.catalog.CatalogPackage"
            genModel="model/oasisXmlCatalog.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated oasisXmlCatalog -->
      <parser
            type="catalog"
            class="oasis.names.tc.entity.xmlns.xml.catalog.util.CatalogResourceFactoryImpl"/>
   </extension>
</plugin>
