<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
NIEM UML 
Copyright © 2011, ModelDriven.org and Tom Digre, all rights reserved worldwide.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see http://www.gnu.org/licenses/gpl-3.0-standalone.html.

There are also commercial licenses available for this software.
Contact ModelDriven.org for more information.
-->
<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://niem.gov/niem/structures/2.0"
            class="gov.niem.niem.structures._2._2Package"
            genModel="model/mpd-changelog-1.1.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="niemstructures"
            class="gov.niem.niem.structures._2.util._2ResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://reference.niem.gov/niem/resource/mpd/changelog/1.1/"
            class="gov.niem.reference.niem.resource.mpd.changelog._1._1._1Package"
            genModel="model/mpd-changelog-1.1.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
   <!--
      <parser
            type="_0"
            class="gov.niem.reference.niem.resource.mpd.changelog._1._0.util._0ResourceFactoryImpl"/>
            -->
      <parser
            type="mpdcl"
            class="gov.niem.reference.niem.resource.mpd.changelog._1._1.util._1ResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://niem.gov/niem/proxy/xsd/2.0"
            class="gov.niem.niem.proxy.xsd._2._2Package"
            genModel="model/mpd-changelog-1.1.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="proxyxsd"
            class="gov.niem.niem.proxy.xsd._2.util._2ResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://reference.niem.gov/niem/resource/model/1.1/"
            class="gov.niem.reference.niem.resource.model._1._1._1Package"
            genModel="model/mpd-changelog-1.1.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
   <!--
      <parser
            type="_0"
            class="gov.niem.reference.niem.resource.model._1._0.util._0ResourceFactoryImpl"/>
           --> 
      <parser
            type="mpdmodel"
            class="gov.niem.reference.niem.resource.model._1._1.util._1ResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mpd-changelog-1.1 -->
      <package
            uri="http://niem.gov/niem/structures/2.0"
            class="gov.niem.niem.structures._2._2Package"
            genModel="model/mpd-changelog-1.1.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated mpd-changelog-1.1 -->
      <parser
            type="_2"
            class="gov.niem.niem.structures._2.util._2ResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mpd-changelog-1.1 -->
      <package
            uri="http://reference.niem.gov/niem/resource/mpd/changelog/1.1/"
            class="gov.niem.reference.niem.resource.mpd.changelog._1._1._1Package"
            genModel="model/mpd-changelog-1.1.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated mpd-changelog-1.1 -->
      <parser
            type="_1"
            class="gov.niem.reference.niem.resource.mpd.changelog._1._1.util._1ResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mpd-changelog-1.1 -->
      <package
            uri="http://niem.gov/niem/proxy/xsd/2.0"
            class="gov.niem.niem.proxy.xsd._2._2Package"
            genModel="model/mpd-changelog-1.1.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated mpd-changelog-1.1 -->
      <parser
            type="_2"
            class="gov.niem.niem.proxy.xsd._2.util._2ResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mpd-changelog-1.1 -->
      <package
            uri="http://reference.niem.gov/niem/resource/model/1.1/"
            class="gov.niem.reference.niem.resource.model._1._1._1Package"
            genModel="model/mpd-changelog-1.1.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated mpd-changelog-1.1 -->
      <parser
            type="_1"
            class="gov.niem.reference.niem.resource.model._1._1.util._1ResourceFactoryImpl"/>
   </extension>
</plugin>
