<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
NIEM UML 
Copyright © 2011, ModelDriven.org and Tom Digre, all rights reserved worldwide.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see http://www.gnu.org/licenses/gpl-3.0-standalone.html.

There are also commercial licenses available for this software.
Contact ModelDriven.org for more information.
-->
<plugin>
<!--
   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://reference.niem.gov/niem/resource/mpd/catalog/1.0/"
            class="gov.niem.reference.niem.resource.mpd.catalog._1.mpdcat.mpdcatPackage"
            genModel="model/mpd-catalog-1.0.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="mpdcat"
            class="gov.niem.reference.niem.resource.mpd.catalog._1.mpdcat.util.mpdcatResourceFactoryImpl"/>
   </extension>
-->
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mpd-catalog-3.0 -->
      <package
            uri="http://release.niem.gov/niem/niem-core/3.0/"
            class="gov.niem.release.niem.niem.core._3._0._0Package"
            genModel="model/mpd-catalog-3.0.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated mpd-catalog-3.0 -->
      <parser
            type="_0"
            class="gov.niem.release.niem.niem.core._3._0.util._0ResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mpd-catalog-3.0 -->
      <package
            uri="http://release.niem.gov/niem/structures/3.0/"
            class="gov.niem.release.niem.structures._3._0._0Package"
            genModel="model/mpd-catalog-3.0.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated mpd-catalog-3.0 -->
      <parser
            type="_0"
            class="gov.niem.release.niem.structures._3._0.util._0ResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mpd-catalog-3.0 -->
      <package
            uri="http://release.niem.gov/niem/proxy/xsd/3.0/"
            class="gov.niem.release.niem.proxy.xsd._3._0._0Package"
            genModel="model/mpd-catalog-3.0.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated mpd-catalog-3.0 -->
      <parser
            type="_0"
            class="gov.niem.release.niem.proxy.xsd._3._0.util._0ResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mpd-catalog-3.0 -->
      <package
            uri="http://www.w3.org/XML/1998/namespace"
            class="org.w3.xml._1998.namespace.NamespacePackage"
            genModel="model/mpd-catalog-3.0.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated mpd-catalog-3.0 -->
      <parser
            type="namespace"
            class="org.w3.xml._1998.namespace.util.NamespaceResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mpd-catalog-3.0 -->
      <package
            uri="http://reference.niem.gov/niem/resource/mpd/catalog/3.0/"
            class="gov.niem.reference.niem.resource.mpd.catalog._3._0._0Package"
            genModel="model/mpd-catalog-3.0.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated mpd-catalog-3.0 -->
      <parser
            type="_0"
            class="gov.niem.reference.niem.resource.mpd.catalog._3._0.util._0ResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mpd-catalog-3.0 -->
      <package
            uri="http://release.niem.gov/niem/codes/core_misc/3.0/"
            class="gov.niem.release.niem.codes.coreMisc._3._0._0Package"
            genModel="model/mpd-catalog-3.0.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated mpd-catalog-3.0 -->
      <parser
            type="_0"
            class="gov.niem.release.niem.codes.coreMisc._3._0.util._0ResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mpd-catalog-3.0 -->
      <package
            uri="http://release.niem.gov/niem/codes/census_commodity/3.0/"
            class="gov.niem.release.niem.codes.censusCommodity._3._0._0Package"
            genModel="model/mpd-catalog-3.0.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated mpd-catalog-3.0 -->
      <parser
            type="_0"
            class="gov.niem.release.niem.codes.censusCommodity._3._0.util._0ResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mpd-catalog-3.0 -->
      <package
            uri="http://release.niem.gov/niem/codes/iso_4217/3.0/"
            class="gov.niem.release.niem.codes.iso4217._3._0._0Package"
            genModel="model/mpd-catalog-3.0.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated mpd-catalog-3.0 -->
      <parser
            type="_0"
            class="gov.niem.release.niem.codes.iso4217._3._0.util._0ResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mpd-catalog-3.0 -->
      <package
            uri="http://release.niem.gov/niem/codes/dea_ctlsub/3.0/"
            class="gov.niem.release.niem.codes.deaCtlsub._3._0._0Package"
            genModel="model/mpd-catalog-3.0.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated mpd-catalog-3.0 -->
      <parser
            type="_0"
            class="gov.niem.release.niem.codes.deaCtlsub._3._0.util._0ResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mpd-catalog-3.0 -->
      <package
            uri="http://release.niem.gov/niem/codes/nga_datum/3.0/"
            class="gov.niem.release.niem.codes.ngaDatum._3._0._0Package"
            genModel="model/mpd-catalog-3.0.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated mpd-catalog-3.0 -->
      <parser
            type="_0"
            class="gov.niem.release.niem.codes.ngaDatum._3._0.util._0ResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mpd-catalog-3.0 -->
      <package
            uri="http://release.niem.gov/niem/codes/fips_10-4/3.0/"
            class="gov.niem.release.niem.codes.fips10._4._3._0._0Package"
            genModel="model/mpd-catalog-3.0.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated mpd-catalog-3.0 -->
      <parser
            type="_0"
            class="gov.niem.release.niem.codes.fips10._4._3._0.util._0ResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mpd-catalog-3.0 -->
      <package
            uri="http://release.niem.gov/niem/codes/iso_3166-1/3.0/"
            class="gov.niem.release.niem.codes.iso3166._1._3._0._0Package"
            genModel="model/mpd-catalog-3.0.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated mpd-catalog-3.0 -->
      <parser
            type="_0"
            class="gov.niem.release.niem.codes.iso3166._1._3._0.util._0ResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mpd-catalog-3.0 -->
      <package
            uri="http://release.niem.gov/niem/codes/dod_jcs-pub2.0/3.0/"
            class="gov.niem.release.niem.codes.dodJcs.pub2._0._3._0._0Package"
            genModel="model/mpd-catalog-3.0.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated mpd-catalog-3.0 -->
      <parser
            type="_0"
            class="gov.niem.release.niem.codes.dodJcs.pub2._0._3._0.util._0ResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mpd-catalog-3.0 -->
      <package
            uri="http://release.niem.gov/niem/codes/iso_639-3/3.0/"
            class="gov.niem.release.niem.codes.iso639._3._3._0._0Package"
            genModel="model/mpd-catalog-3.0.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated mpd-catalog-3.0 -->
      <parser
            type="_0"
            class="gov.niem.release.niem.codes.iso639._3._3._0.util._0ResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mpd-catalog-3.0 -->
      <package
            uri="http://release.niem.gov/niem/codes/dol_soc/3.0/"
            class="gov.niem.release.niem.codes.dolSoc._3._0._0Package"
            genModel="model/mpd-catalog-3.0.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated mpd-catalog-3.0 -->
      <parser
            type="_0"
            class="gov.niem.release.niem.codes.dolSoc._3._0.util._0ResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mpd-catalog-3.0 -->
      <package
            uri="http://release.niem.gov/niem/codes/occs_facility/3.0/"
            class="gov.niem.release.niem.codes.occsFacility._3._0._0Package"
            genModel="model/mpd-catalog-3.0.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated mpd-catalog-3.0 -->
      <parser
            type="_0"
            class="gov.niem.release.niem.codes.occsFacility._3._0.util._0ResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mpd-catalog-3.0 -->
      <package
            uri="http://release.niem.gov/niem/codes/canada_post/3.0/"
            class="gov.niem.release.niem.codes.canadaPost._3._0._0Package"
            genModel="model/mpd-catalog-3.0.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated mpd-catalog-3.0 -->
      <parser
            type="_0"
            class="gov.niem.release.niem.codes.canadaPost._3._0.util._0ResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mpd-catalog-3.0 -->
      <package
            uri="http://release.niem.gov/niem/codes/fips_5-2/3.0/"
            class="gov.niem.release.niem.codes.fips5._2._3._0._0Package"
            genModel="model/mpd-catalog-3.0.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated mpd-catalog-3.0 -->
      <parser
            type="_0"
            class="gov.niem.release.niem.codes.fips5._2._3._0.util._0ResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mpd-catalog-3.0 -->
      <package
            uri="http://release.niem.gov/niem/codes/usps_states/3.0/"
            class="gov.niem.release.niem.codes.uspsStates._3._0._0Package"
            genModel="model/mpd-catalog-3.0.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated mpd-catalog-3.0 -->
      <parser
            type="_0"
            class="gov.niem.release.niem.codes.uspsStates._3._0.util._0ResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mpd-catalog-3.0 -->
      <package
            uri="http://release.niem.gov/niem/codes/unece_rec20/3.0/"
            class="gov.niem.release.niem.codes.uneceRec20._3._0._0Package"
            genModel="model/mpd-catalog-3.0.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated mpd-catalog-3.0 -->
      <parser
            type="_0"
            class="gov.niem.release.niem.codes.uneceRec20._3._0.util._0ResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mpd-catalog-3.0 -->
      <package
            uri="http://release.niem.gov/niem/codes/nga_genc/3.0/"
            class="gov.niem.release.niem.codes.ngaGenc._3._0._0Package"
            genModel="model/mpd-catalog-3.0.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated mpd-catalog-3.0 -->
      <parser
            type="_0"
            class="gov.niem.release.niem.codes.ngaGenc._3._0.util._0ResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mpd-catalog-3.0 -->
      <package
            uri="http://release.niem.gov/niem/codes/census_uscounty/3.0/"
            class="gov.niem.release.niem.codes.censusUscounty._3._0._0Package"
            genModel="model/mpd-catalog-3.0.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated mpd-catalog-3.0 -->
      <parser
            type="_0"
            class="gov.niem.release.niem.codes.censusUscounty._3._0.util._0ResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mpd-catalog-3.0 -->
      <package
            uri="http://release.niem.gov/niem/codes/hl7/3.0/"
            class="gov.niem.release.niem.codes.hl7._3._0._0Package"
            genModel="model/mpd-catalog-3.0.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated mpd-catalog-3.0 -->
      <parser
            type="_0"
            class="gov.niem.release.niem.codes.hl7._3._0.util._0ResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mpd-catalog-3.0 -->
      <package
            uri="http://release.niem.gov/niem/codes/xCard/3.0/"
            class="gov.niem.release.niem.codes.x.card._3._0._0Package"
            genModel="model/mpd-catalog-3.0.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated mpd-catalog-3.0 -->
      <parser
            type="_0"
            class="gov.niem.release.niem.codes.x.card._3._0.util._0ResourceFactoryImpl"/>
   </extension>
</plugin>
