<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.m2m.qvt.oml.javaBlackboxUnits">
                  <unit name="PlatformBinding" namespace="org.modeldriven.niem3.xpath.qvt.bb">
                <library name="PlatformBinding" class="org.modeldriven.niem3.xpath.qvt.bb.XpathQvtBlackbox">
                        <metamodel nsURI="http://www.eclipse.org/emf/2002/Ecore"/>
                        <metamodel nsURI="http://www.eclipse.org/xsd/2002/XSD"/>
                        <metamodel nsURI="http://www.eclipse.org/uml2/3.0.0/UML"/>
                        <metamodel nsURI="http://www.w3.org/Xpath20"/>
                </library>
                </unit>
   </extension>

</plugin>
